.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 10px;
  box-sizing: border-box;
  max-width: 100%;
  .profile-picture {
    width: 6vw;
    height: 6vw;
    background: #000;
    border-radius: 100%;
    margin-bottom: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .profile-info {
    text-align: center;
    .name {
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
}
@media (max-width: 768px) {
  .profile {
    position: relative;
    top: calc(-20vw - 30px);
    padding: 0px;
    .profile-picture {
      width: 40vw;
      height: 40vw;
    }
  }
}
